/*---------HEADER---------*/
body{
    margin: 0;
}

.container-cabecalho{
    width: 100%;
    position: absolute;
    background-color: var(--extra-claro-principal) transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 16px 0px var(--marron-forte);

}



.menu{
    display: flex;
    align-items: center;
}

.menu li{
    margin-right: 100px;
    color: var(--escuro-principal);
    font-size: 20px;
    text-transform: uppercase;
    
}

.menu li:hover{
    color: var(--white);
    transition: .5s;
    cursor: pointer;
}

.menu li::after{
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 2px solid transparent;
    display: block;
    transition: .9s;
}

.menu li:hover::after{
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 2px solid var(--escuro-principal);
}
.container-logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 80px;
}
.contorno-img{
    position: relative;
    border-radius: 50%;
    border: 1.5px solid var(--marron-forte);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    margin-right: 20px;
}
.img-logo{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    left: 2.5px;
    top: 1.5px;
    
}

.logo-nome{
    font-size: 20px;
    color: var(--marron-forte);
    font-size: 30px;
    text-transform: uppercase;
}


/*---------HOME---------*/

/*---------SOBRE---------*/


/*---------SERVIÇOS---------*/



/*---------CONTATOS---------*/