/*---------HEADER---------*/
body{
    margin: 0;
}

.container-cabecalho{
    width: 100%;
    position: absolute;
    background-color: var(--extra-claro-principal) transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 16px 0px var(--marron-forte);

}



.menu{
    display: flex;
    align-items: center;
}

.menu li{
    margin-right: 100px;
    color: var(--escuro-principal);
    font-size: 20px;
    text-transform: uppercase;
    
}

.menu li:hover{
    color: var(--white);
    transition: .5s;
    cursor: pointer;
}

.menu li::after{
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 2px solid transparent;
    display: block;
    transition: .9s;
}

.menu li:hover::after{
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 2px solid var(--escuro-principal);
}
.container-logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 80px;
}
.contorno-img{
    position: relative;
    border-radius: 50%;
    border: 1.5px solid var(--marron-forte);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    margin-right: 20px;
}
.img-logo{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    left: 2.5px;
    top: 1.5px;
    
}

.logo-nome{
    font-size: 20px;
    color: var(--marron-forte);
    font-size: 30px;
    text-transform: uppercase;
}


/*---------HOME---------*/

/*---------SOBRE---------*/


/*---------SERVIÇOS---------*/
.servicos{
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-servicos-titulo{
    height: 300px;
    width: 100%;
    background-color: var(--extra-claro-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 200px;
}

.servicos-titulo{
    text-transform: uppercase;
    font-size: 50px;
}

.servicos-paragrafo{
    font-size: 24px;
}

.box-servicos-titulo p{
    width: 500px;
}

.servicos-image{
    height: 200px;
}

.servicos-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-image-servicos{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.box-card-servicos{
    width: 300px;
    height: 300px;
    box-shadow: 1px -1px 42px 0px rgba(0,0,0,0.20);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.box-texto-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    color: transparent;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.box-texto-card:hover{
    background-color:rgba(255,255,255,0.75);
    color: #000;
    transition: all .6s ease-in-out;

}


.card-1{
    background-image: url('https://www.picsum.photos/400?random1');
}
.card-2{
    background-image: url('https://www.picsum.photos/400?random2');
}
.card-3{
    background-image: url('https://www.picsum.photos/400?random3');
}
.card-4{
    background-image: url('https://www.picsum.photos/400?random4');
}
.card-5{
    background-image: url('https://www.picsum.photos/400?random5');
}
.card-6{
    background-image: url('https://www.picsum.photos/400?random6');
}


.box-card-servicos:hover{
    border: 2px solid var(--escuro-principal);

}



/*---------CONTATOS---------*/

.contatos{
    background-color: var(--white);
    width: 100%;
}

.box-contatos-titulo{
    height: 300px;
    width: 100%;
    padding: 50px;
    background-color: var(--extra-claro-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contato-titulo{
    text-transform: uppercase;
    font-size: 50px;
}

.contato-paragrafo{
    font-size: 24px;

}

.box-card-contatos{
    padding: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card{
    height: 250px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--extra-claro-principal);
    box-shadow: 1px -1px 42px 0px rgba(0,0,0,0.20);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.card p{
    margin-bottom: 5px;

}

.card-image{
    width: 50px;
}

.box-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario input{
    height: 50px;
    width: 500px;
    padding-left: 10px;
    outline: none;
}

.formulario textarea{
    height: 100px;
    width: 500px;
    padding-left: 10px;
    outline: none;
}

.formulario button{
    display: block;
    margin:0 auto;
    width: 200px;
    padding: 20px 40px;
    outline: none;
    background-color: var(--extra-claro-principal);
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover{

    background-color: var(--claro-principal);
    transition: all .5s ease-in-out;

}

.form-image{
    width: 300px;
}

.box-mapa iframe{
    width: 100%;
    height: 300px;
    margin: 50px 0 0px;
    object-fit: cover;
}




/*---------RODAPE---------*/

.rodape{
    height: 150px;
    width: 100%;
    padding: 20px 0;
    background-color: var(--extra-claro-principal);
    font-size: 16px;
    text-align: center;
}

.box-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.linkedin-logo{
    width: 50px;
}
.insta-logo{
    width: 40px;
}
.face-logo{
    width: 40px;
}

.linha{
    background-color: var(--medium-principal);
    width: 100%;
    margin: 20px 0;
    opacity: .6;
}

/* TABLET CONFIG */

@media (max-width: 900px){
    /*---------HOME---------*/



/*---------SOBRE---------*/


/*---------SERVIÇOS---------*/

.box-servicos-titulo{
    height: 200px;
    padding: 20px;
}

.servicos-titulo{
    font-size: 30px;
}

.servicos-paragrafo{
    font-size: 18px;
}

.box-servicos-titulo p{
    width: 400px;
}


/*---------CONTATOS---------*/

.contatos{
    background-color: var(--white);
}

.box-contatos-titulo{
    height: 200px;
    padding: 20px;
    gap: 10px;
}

.contato-titulo{
    font-size: 30px;
}

.contato-paragrafo{
    font-size: 18px;

}

.box-card-contatos{
    padding: 50px;
    gap: 30px;

}

.titulo-card{
    font-size: 16px;
}

.card p{
    margin-bottom: 5px;

}

.card-image{
    width: 40px;
}

.box-textos-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.box-formulario{
    flex-direction: column;
    gap: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario button{
    width: 150px;
    font-size: 18px;
}

.form-image{
    width: 250px;
}

.box-mapa iframe{
    height: 200px;
}




/*---------RODAPE---------*/

.rodape{
    height: 150px;
    font-size: 14px;
}


.linkedin-logo{
    width: 40px;
}
.insta-logo{
    width: 30px;
}
.face-logo{
    width: 30px;
}

}

/* MOBILE CONFIG */

@media (max-width: 500px){
    /*---------HOME---------*/



/*---------SOBRE---------*/


/*---------SERVIÇOS---------*/
.box-servicos-titulo{
    height: 200px;
    padding: 20px;
}

.servicos-titulo{
    font-size: 25px;
}

.servicos-paragrafo{
    font-size: 16px;
}

.box-servicos-titulo p{
    width: 300px;
}


.box-card-servicos{
    width: 250px;
    height: 250px;

}

.box-texto-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    color: transparent;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}



/*---------CONTATOS---------*/


.box-contatos-titulo{
    height: 200px;
    padding: 20px;
    gap: 10px;
}

.contato-titulo{
    font-size: 25px;
}

.contato-paragrafo{
    font-size: 16px;

}

.box-card-contatos{
    padding: 40px;
    flex-direction: column;
    gap: 20px;

}

.card{
    height: 200px;
    width: 250px;
    gap: 20px;

}

.titulo-card{
    font-size: 16px;
}


.card-image{
    width: 30px;
}

.box-textos-formulario{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}


.box-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input{
    height: 40px;
    width: 300px;

}

.formulario textarea{
    height: 100px;
    width: 300px;
}
.form-image{
    width: 200px;
}

.formulario button{
    width: 120px;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
}


.box-mapa iframe{
    height: 200px;
    margin: 30px 0 0px;

}


/*---------RODAPE---------*/

.rodape{
    height: 150px;
    width: 100%;
    padding: 20px 0;
    font-size: 12px;
}

.box-social-media{

    gap: 10px;
}
.linkedin-logo{
    width: 30px;
}
.insta-logo{
    width: 25px;
}
.face-logo{
    width: 22px;
}

.linha{
    margin: 10px 0;
}
}


 /* ANIMAÇÕES DO SITE */

.box-card-servicos,.box-card-contatos, .box-formulario{
    visibility: hidden
}

